nose==1.3.7
tornado==5.1.1
numpy==1.16.4
tensorflow==1.15.4
pillow==6.2.0
# Packages below are only used for the repo. builds. 
# iSeefood modules does not need the following packages to run. 
pytest==4.4.0
codecov==2.0.15
coverage==4.5.3
pytest-cov==2.7.1
